{% extends 'base.html' %}
{% block content %}
<div class="admin-panel">
        {% if users %}
        <form action="{{ url_for('admin.change_right_process') }}" method="post">
            <table>
              <caption>Пользователи</caption>
              <thead>
                <tr class="head">
                  <th>Логин</th>
                  <th>Сделать модератором</th>
                </tr>
              </thead>
              <tbody>
                  {% for user in users %}
                      {% if user.status == 'user' %}
                          <tr>
                              <td>{{ user.login }}</td>
                              <td>
                                  <input type="checkbox" name={{user.id}} value="moderator" />
                              </td>
                          </tr>
                      {% endif %}
                  {% endfor %}
              </tbody>
            </table>
            <button type="submit">Сохранить</button>
      </form>
      {% endif %}
      {% if users %}
        <form action="{{ url_for('admin.change_right_process') }}" method="post">
            <table>
              <caption>Модераторы</caption>
              <thead>
                <tr>
                  <th>Логин</th>
                  <th>Забрать права модератора</th>
                </tr>
              </thead>
              <tbody>
                  {% for user in users %}
                      {% if user.status == 'moderator' %}
                          <tr>
                              <td>{{ user.login }}</td>
                              <td>
                                  <input type="checkbox"  name={{user.id}} value="user" />
                              </td>
                          </tr>
                      {% endif %}
                  {% endfor %}
              </tbody>
            </table>
            <button type="submit">Сохранить</button>
      </form>
      {% endif %}
</div>

{% endblock %}
