{% extends 'base.html' %}
{% block content %}
<main>
{% if actual_news and request.base_url == 'http://127.0.0.1:5000/1' %}
    <h1>Самые актуальные и интересные <span class="highlight">новости</span> в одном месте</h1>
    <section class="news-section">
        <div class="news-container">
            <article class="news-item large">
                <img src="{{ actual_news[0].img }}" alt="Новость 1">
                <div class="news-content">
                    <h3><a target="_blank" href="{{ url_for('news.single_news', news_id=actual_news[0].id) }}" class="news-link">{{ actual_news[0].title }}</a></h3>
                    <p>{{ actual_news[0].date.strftime('%Y.%m.%d %H:%M') }}</p>
                </div>
            </article>
            <div class="small-news-container">
                {% for news in actual_news[1:] %}
                <article class="news-item small">
                    <img src="{{ news.img }}" alt="Новость {{ loop.index }}">
                    <div class="news-content">
                        <h4><a target="_blank" href="{{ url_for('news.single_news', news_id=news.id) }}" class="news-link">{{ news.title }}</a></h4>
                        <p>{{ news.date.strftime('%Y.%m.%d %H:%M') }}</p>
                    </div>
                </article>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
{% if all_news%}
    <h2>Все новости</h2>
    <section class="all-news">
        <div class="all-news-container">
            {% for news in all_news %}
                <article class="all-news-item">
                    <img src="{{ news.img }}" alt="Новость {{ loop.index }}">
                    <div class="news-content">
                        <h4><a target="_blank" href="{{ url_for('news.single_news', news_id=news.id) }}" class="news-link">{{ news.title }}</a></h4>
                        <p>{{ news.date.strftime('%Y.%m.%d %H:%M') }}</p>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
    <div class="pagination">
        {% for page in all_news.iter_pages() %}
            {% if page %}
                <a href="{{ url_for('news.index', page=page) }}" class="pagination-link {% if page == all_news.page %}active{% endif %}">
                    {{ page }}
                </a>
            {% else %}
                <span class="pagination-ellipsis">...</span>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
</main>
{% endblock %}