{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="form-box">
        <div class="tabs">
            <a href="{{ url_for('user.login') }}" class="tab {% if request.endpoint == 'user.login' %}active{% endif %}"><h3>Авторизация</h3></a>
            <a href="{{ url_for('user.register') }}" class="tab {% if request.endpoint == 'user.register' %}active{% endif %}"><h3>Регистрация</h3></a>
        </div>
        <form action="{{ url_for('user.login_process') }}" method="post">
            {{ form.hidden_tag() }}
            <input type="hidden" name="url" value={{ referrer }}>
            <div class="input-group">
                <label for="login">Логин</label>
                {{ form.login() }}
            </div>
            <div class="input-group">
                <label for="password">Пароль</label>
                {{ form.password() }}
                <span class="eye-icon">&#128065;</span>
            </div>
            <div class="checkbox-group">
                {{ form.remember_me() }}
                <label for="remember">Запомнить меня</label>
            </div>
            <button type="submit" class="login-button">Войти</button>
        </form>
    </div>
</div>
{% endblock %}
