<header>
    <div class="header-container">
        <div class="logo">
            <h1><a href = "{{ url_for('news.index', page = 1) }}">Today<span>News</span></a></h1>
        </div>
        <div class="header-info">
            {% if weather %}
            <span><img class="weather-icon" src="{{ weather.weatherIconUrl[0].value }}">{{ city }} {{ weather.temp_C }}°, ощущается как {{ weather.FeelsLikeC }}°</span>
            {% else %}
                <h5>Сервис погоды временно недоступен</h5>
            {% endif %}
           {% if current_user.is_authenticated %}
              {% if current_user.is_admin %}
                 <button class="admin"><a href="{{ url_for('admin.admin_index') }}">Личный кабинет</a></button>
              {% endif %}
               <button><a href="{{ url_for('user.logout') }}">Выйти</a></button>
            {% else %}
                <a href="{{ url_for('user.login') }}"><button>Войти</button></a>
            {% endif %}
        </div>
    </div>
</header>

