{% extends 'base.html' %}
{% block content %}
<div class="row">
<div class="col-3"></div>
<div class="col-4">
  <form action="{{ url_for('user.register_process') }}" method="post">
      <div class="form-group mt-5">
          {{ form.hidden_tag() }}
          {{ form.login.label }}
          {{ form.login() }}
      </div>
      <div class="form-group">
              {{ form.first_name.label }}<br>{{ form.first_name() }}
      </div>
      <div class="form-group">
              {{ form.second_name.label }}<br>{{ form.second_name() }}
      </div>
      <div class="form-group">
              {{ form.middle_name.label }}<br>{{ form.middle_name() }}
      </div>
      <div class="form-group">
              {{ form.birthday.label }}<br>{{ form.birthday() }}
      </div>
      <div class="form-group">
              {{ form.city.label }}<br>{{ form.city() }}
      </div>
      <div class="form-group">
              {{ form.gender.label }}<br>{{ form.gender() }}
      </div>
      <div class="form-group">
              {{ form.email.label }}<br>{{ form.email() }}
      </div>
      <div class="form-group">
              {{ form.password.label }}<br>{{ form.password() }}
      </div>
      <div class="form-group">
              {{ form.password2.label }}<br>{{ form.password2() }}
      </div>
      <br>
      {{ form.submit }}
  </form>
</div>
<div class="col-2"></div>
</div>
{% endblock %}