{% extends 'base.html' %}
{% block content %}
    <div class="article-section">
        <article class="article_dzCDV pb-6">
            {{ news.text|safe }}
        </article>
        <h5>Комментарии {{ number }}</h5>
    </div>

    <div class="comments-section">
        {% if comments %}
            {% for comment in comments %}
                <div class="comment">
                    <div class="comment-header">
                        <span class="comment-author">{{ comment[1].first_name }} {{ comment[1].second_name }}</span>
                        <span class="comment-date">{{ comment[0].created.strftime('%b %d %Y, %H:%M') }} </span>
                    </div>
                    <div class="comment-body">
                        {{ comment[0].text }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if current_user.is_authenticated %}
            <form class="comment-form" action="{{ url_for('news.save_comment_process') }}" method="post">
                <h4>Оставьте комментарий</h4>
                <textarea placeholder="Ваш комментарий" name = 'text' required></textarea>
                <input type="hidden" id="user_id" name="user_id" value={{ current_user.id }}>
                <input type="hidden" id="news_id" name="news_id" value={{ news.id }} >
                <button type="submit">Отправить</button>
            </form>
        {% else %}
            <p>Чтобы оставить комментарий - <a href="{{ url_for('user.login') }}">авторизуйтесь</a> или <a href="{{ url_for('user.register') }}">зарегистрируйтесь</a></p>
        {% endif %}
    </div>
{% endblock content %}
